
student{
	display:block;
	margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 250px;
}
usn{
	display:block;
}
name{
	display:block;
}
college{
	display:block;
}
branch{
	display:block;
}
email{
	display:block;
}


